@import 'utils/variables';
@import 'utils/breakpoints';
@import 'utils/fonts';
@import 'utils/decoration-reset';
@import 'utils/geometry';
@import 'utils/visually-hidden';
@import 'utils/title';
@import 'utils/backdrop';
@import 'components/buttons';
@import 'components/logo';
@import 'components/header';
@import 'components/overlay';
// @import 'components/hero';
// @import 'components/benefits';
// @import 'components/work';
// @import 'components/team';
// @import 'components/socials';
// @import 'components/clients';
// @import 'components/footer';
@import 'components/mobile-menu';
// @import 'components/modal';
// @import 'components/portfolio';
