/*--------------------КНОПКИ--------------------  */
.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;

  background-color: $btn-bg-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;

  cursor: pointer;
}
