/*--------------------ПІДВАЛ--------------------  */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-bg-color;
}

.footer__container {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

/*--------------------КОНТАКТИ--------------------  */

.footer__list {
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__location {
  color: $primary-white-color;
  line-height: 1.71;

  transition: color $time-duration $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__link {
  color: $contacts-main-color;
  line-height: 1.71;
  transition: color $time-duration $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__social {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-left: 165px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 70px;
  }
}

.footer__appeal {
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  color: $primary-white-color;
}

/*--------------------ПІДПИСКА--------------------  */
.subscription {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}

.subscribe {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.subscribe__field {
  display: flex;

  max-width: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 15px 16px;

  color: $primary-white-color;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}

.subscribe__btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $primary-white-color;
  fill: $primary-white-color;
  background-color: $accent-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;

  transition: background-color $time-duration $time-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}
