/* --------------------ВЕРХНЯ ЛІНІЯ-------------------- */
.header {
  // display: flex;
  // // align-items: center;
  border-bottom: 1px solid $header-border-color;

  color: $primary-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*--------------------НАВІГАЦІЯ САЙТУ--------------------  */
// .header__container {
//   display: flex;
//   // align-items: center;
// }

// .header__nav {
//   display: flex;
//   // align-items: center;
// }

.header__list {
  display: flex;
  margin-left: 95px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  font-weight: 500;
  line-height: 1.14;
  transition: color $time-duration $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__link.current {
  position: relative;
  color: $accent-color;
}

.header__link.current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}

.header__feedback {
  display: flex;
  margin-left: auto;
  align-items: center;
  
  @media screen and (max-width: 767px) {
    display: none;
  }
}

/*--------------------ЗВОРОТНІЙ ЗВ'ЯЗОК--------------------  */
.header__e-mail,
.header__phone {
  display: flex;
  align-items: center;
  color: $secondary-text-color;

  font-weight: 500;
  line-height: 1.14;

  transition: color $time-duration $time-function, fill $time-duration $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
