/* --------------------ЛОГОТИП-------------------- */
.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;

  color: $accent-color;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--black {
  color: $logo-color;
}

.logo--white {
  color: $primary-white-color;
}
