.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  transform: translateX(100%);
  transition: transform $time-duration $time-function;
  background-color: $primary-white-color;
  overflow-y: scroll;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill $time-duration $time-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
