/*--------------------НАША КОМАНДА--------------------  */
.team {
  background-color: $team-bg-color;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  margin-bottom: 30px;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.team__container {
  padding-top: 30px;
  padding-bottom: 24px;

  background-color: $primary-white-color;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team__member {
  margin-top: 0px;
  margin-bottom: 10px;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-top: 0;
  margin-bottom: 16;

  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
